h1{
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    color: rgb(65, 61, 61);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
pre{
    color: black;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a{
    color: rgb(102, 99, 99);
}
#header{
    background-color: rgb(63, 243, 234);
    text-align: center;
    border: 1px gray solid;
    padding: 0px;
    margin: 15px;
}
#section{
    background-color: rgb(63, 243, 234);
    border: 1px gray solid;
    padding: 0px;
    margin: 15px;

}
#footer{
    background-color: rgb(63, 243, 234);
    border: 1px gray solid;
    padding: 0px;
    margin: 15px;

}
body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    background-color: rgb(63, 243, 234);
}
footer {
    background-color: #ccc;
    padding: 20px;
    text-align: center;
    color: white;
}